.container {
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    transition: all 0.5s ease;
}
.container_title {
    text-shadow: 0.15rem 0.15rem #9999;
}

.container_phrase{
    width: 100%;
    max-width: 30em;
    background-color: rgb(255, 255, 255, 0.7);
    padding: 1.5em 2em;
    line-height: 1.4;
    border-radius: 0.7em;
}

.container_btn {
    padding: 0.8em 1.2em;
    border-radius: 0.7em;
    font-size: 1.2rem;
    opacity: 0.5;
    cursor:  pointer;
   transition: all 200ms ease;
}
.container_btn:hover {
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 0 0.8em #0005;
}